.container {
    min-height: 540px;
    max-width: 1024px;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col {
    background-color: darkgoldenrod;
    min-height: 256px;
    width: 30%;
    margin-bottom: 40px;
}

.hide-desktop-only {
    display: none;
}

@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }
}

@media (max-width: 480px) {
    .col {
        width: 100%;
    }

    .hide-mobile-only {
        display: none;
    }
}