html, body {
    width: 100%;
}
body {
    background-color: #EBEBEB;
}

a {
    text-decoration: none;
    color: white;
}

.header-container {
    background-color: gray;
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1080px;
    min-height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Asap', sans-serif;
    color: white;
    margin-left: 7px;
}

span {
    font-weight: 700;
}

nav {
    color: white;
}

nav a, .mobile-menu-item{
    border: 1px solid white;
    padding: 7px;
    margin-right: 10px;
}

.mob-wrapper{
    display: none;
}

.container {
    min-height: 540px;
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 150px;
}

.col {
    font-family: 'Asap', sans-serif;
    background-color: goldenrod;
    margin-top: 15px;
    width: 30%;
    margin-bottom: 15px;
}

.col img {
    width: 100%;
    height: auto;
}

.col p {
    color: white;
    padding-left: 20px;
}

.col p::first-line {
    font-weight: 700;
}

.hide-desktop-only {
    display: none;
}

.link {
    max-width: 1080px;
    min-height: 30px;    
    text-align: right;
    padding-top: 10px;
    background-color: goldenrod;
    margin: auto;
    margin-top: 10px;
}

.link a{
    text-decoration: none;
    padding-right: 15px;
    color: brown;
}

.pugImage {
    width: vw;
    height: auto;
}

@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }

    .header-container{
        position: relative;
    }

    header, nav a {
        text-align: center;
        width: 100%;
    }

    nav {
        display: none;
        
    }

    .mob-wrapper{
        display: block;
        padding-right: 20px;
    }

    .mobile-menu-image{
        display: inline-block;
        width: 40px;
    }

    .mobile-menu-items{
        display: none;
        position: absolute;
    }

    .mobile-menu-item{
        display: block;
        background-color: goldenrod;
        padding: 15px 30px;
        margin-left: -95px;
    }

    .logo{
        padding: 30px;
    }

    .container{
        padding-top: 15px;
    }
}

@media (max-width: 480px) {
    .col {
        width: 100%;
    }

    .hide-mobile-only {
        display: none;
    }
}