.container {
    min-height: 540px;
    max-width: 1024px;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col {
    margin-top: 40px;
    width: 30%;
    margin-bottom: 40px;
}

.col img {
    width: 100%;
    height: auto;
}

.hide-desktop-only {
    display: none;
}
.link {
    width: 1024px;
    min-height: 30px;    
    text-align: right;
    padding-top: 10px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 10px;
}

.link a{
    text-decoration: none;
    padding-right: 15px;
    color: brown;
}

.pugImage {
    width: auto;
    height: 99vh;
}

@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }
}

@media (max-width: 480px) {
    .col {
        width: 100%;
    }

    .hide-mobile-only {
        display: none;
    }
}